@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

a:active {
  color: blue;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  font-family: Outfit;
}
